* {
  margin: 0;
  padding: 0;
}

nav p {
  color: rgb(255, 255, 255);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22rem;
  background-color: rgb(71, 75, 78);
  box-shadow: 0px 0px 4px 9px rgb(13, 14, 14);
  font-size: large;
  letter-spacing: 0.1rem;
  height: 3rem;
}
ul {
  display: flex;
  list-style: none;
}

li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-left: 1rem;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  height: 12vh;
  width: 21vw;
}

#btn {
  height: 2rem;
  width: 6rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
